@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: "Protest Riot", sans-serif !important;
}
.form_inputs {
  @apply border border-solid border-black p-3 rounded-lg w-full outline-none font-normal tracking-wide placeholder:tracking-wide text-zinc-700 placeholder:text-zinc-700;
}
